body {
    /* background-color: pink; */
    background-image: url(img1.jpg);
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;

}

.first 
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.second
{
    width : 500px;
    height : 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

#heart-img
{
    height: 150px;
    width: 150px;
}

input
{
    display: block;
    margin: 15px auto;
}

button
{
    display: block;
    margin: auto;
}

.close
{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

h1
{
    background-color: palevioletred;
    margin-bottom: 0px;
    padding: 10px 0 10px 0;
}

.flame
{
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

form
{
    /* background-image: url(img1.jpg); */
    background-color: pink;
    margin: 0%;
}

footer
{
    display: block;
    text-align: center;
    margin-top: 50px;
    background-color: darkslategray;
}

.bottom-container {
    height: 200px;
    background-color: #252525;
    padding: 50px 0 20px;
  }

.social {
    width: 2%;
  }
  

.copywright {
    color:#f6f6f6;
    padding-top: 80px;
    margin: 0;
  }

a {
    color: #1fab89;
    margin: 10px 20px;
  }